@import "tailwindcss";

@theme{
    --color-basic-light: #1b2537;
    --color-basic-dark: #141a29;
    --color-accentLime: #60ceb2;
    --font-default: "Verdana";
}
body{
  margin: 0;
  font-family: system-ui;
}
#root, .navbar-page{
  display: flex;
}
.navbar-pages-container{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.navbar-pages-container a{
  display: flex;
  gap: 12px;
}
a{
  line-height: 16px;
}
a.active {
  color: #615fff;
}
main div{
  padding: 10px;
  background-color: #1b2537;
}