@import "tailwindcss";

@theme{
    --color-basic-light: #1b2537;
    --color-basic-dark: #141a29;
    --color-white-light: #FFF;
    --color-white-dark: #E7E7E7;
    --color-accentLime: #60ceb2;
    --color-accentIndigo: #615fff;
    --font-default: "Verdana";
}
body{
  margin: 0;
  font-family: system-ui;
}
#root, .navbar-page{
  display: flex;
}
.navbar-pages-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.navbar-pages-container a{
  font-weight: 500;
  display: flex;
  gap: 12px;
  border-radius: 10px;
}
canvas{
  height: 30%;
  width: 30%;
}